<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>도서 등록</title>
</head>
<body>
<h1>도서 등록</h1>
<form action="/books/save" method="post">
    제목: <input type="text" name="title"><br>
    ISBN: <input type="text" name="isbn"><br>
    재고: <input type="number" name="stock"><br>
    출판사: <input type="text" name="publisher"><br>
    출판일 (yyyy-MM-dd): <input type="text" name="publishedAt"><br>

    작가 선택:
    <select name="authorId">
        <option th:each="author : ${authors}"
                th:value="${author.authorId}"
                th:text="${author.name} + ' (' + ${author.country} + ')'">
        </option>
    </select><br>

    장르 선택 (다중 선택):
    <select name="genreIds" multiple size="5">
        <option th:each="genre : ${genres}"
                th:value="${genre.genreId}"
                th:text="${genre.genreName}">
        </option>
    </select><br>

    <button type="submit">등록</button>
</form>
</body>
</html>
